<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="zoorate" translate="label" sortOrder="5000">
            <label>Zoorate</label>
        </tab>
        <section id="poinzilla" translate="label" sortOrder="200" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>PoinZilla</label>
            <tab>zoorate</tab>
            <resource>Zoorate_PoinZilla::configuration</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Settings</label>
                <field id="enable" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Module</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="merchant_code" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Merchant code</label>
                </field>
                <field id="public_key" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Public key</label>
                </field>
                <field id="private_key" translate="label" type="password" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Private key</label>
                </field>
                <field id="setting_mode" translate="label" type="select" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Setting Mode</label>
                    <comment>Enable setting mode to enable the module only for customers indicated in the following field</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="setting_mode_customers" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                    <comment>Insert the email addresses of the customers you want to enable the module for, separated by a comma</comment>
                    <label>Customer email list</label>
                    <depends>
                        <field id="poinzilla/general/setting_mode">1</field>
                    </depends>
                </field>
            </group>
            <group id="export_customers" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Export Customers</label>
                <field id="export_customers_csv" translate="label" type="button" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Export Customers to CSV</label>
                    <comment>Export customers to import them into the Poinzilla panel</comment>
                    <frontend_model>Zoorate\PoinZilla\Block\Adminhtml\System\Config\ExportButton</frontend_model>
                </field>
            </group>
            <group id="retry" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Force resend of customers and orders to PoinZilla</label>
                <field id="retry_from" translate="label comment" type="date" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>From</label>
                    <comment>Start date (inclusive)</comment>
                    <validate>validate-date</validate>
                    <frontend_model>Zoorate\PoinZilla\Block\Date</frontend_model>
                </field>

                <field id="retry_to" translate="label comment" type="date" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>To</label>
                    <comment>End date (inclusive)</comment>
                    <validate>validate-date</validate>
                    <frontend_model>Zoorate\PoinZilla\Block\Date</frontend_model>
                </field>

                <field id="retry_run" translate="label" type="note" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Force retry</label>
                    <frontend_model>Zoorate\PoinZilla\Block\Adminhtml\System\Config\RetryButton</frontend_model>
                </field>
            </group>
        </section>
    </system>
</config>
